body {
	margin:40px 0 0 0;
	padding:0;
	font-size:12px;
	font-family:宋体;
	background:#fff;
}
/*更改UI主题对话框header的背景*/
.ui-widget-header{
	background:url("../image/###");
}
/*更改按钮状态*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background:url("../image/###");
 }
 /*更改按钮点击状态的背景*/
 .ui-state-active, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background:url("../image/###");
 }
 /*更改工具提示的文本颜色*/
.ui-tooltip {
	color:#666;
}
/*更改邮箱自动补全的悬停背景颜色*/
.ui-menu {
	color:#666;
}
/*更改当天日历的样式*/
.ui-datepicker-today .ui-state-highlight {
	border:1px solid #eee;
	color:#f60;
}
/*更改选定日历的样式*/
.ui-datepicker-current-day .ui-state-active {
	border:1px solid #eee;
	color:#06f;
}
.ui-menu .ui-state-focus {
	background:url("../image/###");
}
#header {
	width:100%;
	height:40px;
	background:url(../image/###);
	position: absolute;
	top:0;
}
#header .header_main {
	width:1400px;
	height:40px;
	margin:0 auto;
}
#header .header_main h1 {
	font-size:20px;
	margin:0;
	padding:0 10px;
	color:#666;
	height:40px;
	line-height:40px;
	float:left;
}
#header .header-search {
	padding:6px 0 0 0;
	float:left;
}
#header .header-search .search {
	width:300px;
	height:24px;
	border:1px solid #ccc;
	background:#fff;
	color:#666;
	font-size:14px;
	text-indent:5px;
}
#header .header_button {
	padding:4px;
	float:left;
}
#header .header_member {
	float:right;
	height:40px;
	line-height:40px;
	color:#555;
	font-size:14px;
}
#header .header_member a {
	text-decoration:none;
	color:#555;
	font-size:14px;
}
#reg,#login,#quetion {
	padding:15px 0 0 15px;
}
#reg p,#login p,#quetion p {
	margin:10px;
	padding:0;
}
#reg p label,#login p label,#quetion p label  {
	font-size:14px;
	color:#666;
}
#reg .star,#login .star,#quetion .star {
	font-size:14px;
	color:maroon;
}
#reg .succ,#login .succ,#quetion .succ {
	display:inline-block;
	width:20px;
	background:url(../image/###) no-repeat;
}
#reg ol,#login ol,#quetion ol {
	margin:0;
	padding:0 0 0 25px;
	color:maroon;
}
#reg ol li,#login ol li,#quetion ol li {
	height:20px;
}
#reg .text,#login .text,#quetion .text {
	border-radius:4px;
	border:1px solid #ccc;
	background:#fff;
	width:200px;
	height:25px;
	line-height:25px;
	text-indent:5px;
	color:#666;
}
#loading {
	background:url(../image/###) no-repeat 20px center;
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	text-indent:40px;
	color: #666;
}
#error {
	background:url(../image/###) no-repeat 20px center;
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	text-indent:40px;
	color: #666;
}
#expires {
	position: relative;
	top:2px;
	margin:0 2px 0 125px;
}
#main {
	width:1400px;
	margin: 0 auto;
	padding: 10px 0 0 0;
}
#main .main_left {
	width:980px;
	float:left;
}
#main .main_right {
	width:400px;
	float:right;
}
#tabs {
	border:none;
}
#ui-id-6,#ui-id-8,#ui-id-10 {
	border:1px solid #aaa;
	border-top:none;
	position: relative;
	top:-2px;
}
#accordion {
	
}
.content h4 {
	color:#666;
	font-weight:normal;
}
.content h3 {
	color:#369;
}
.content .editor {
	line-height:180%;
	/*height:155px;*/
	/*overflow:hidden;*/
	color:#333;
}
.content .bottom {
	padding:5px 0 0 0;
}
.content hr {
	color:#ccc;
	height:1px;
}
.content .comment {
	color:#369;
	cursor:pointer;
}
.content .comment_list {
	border:1px solid #ccc;
	border-radius:4px;
	padding:5px 10px;
	display:none;
}
.content .comment_list dl {
	margin:0;
	padding:3px 10px 5px 0;
	
}
.content .comment_list dt {
	margin:0;
	padding:5px 0 0 0;
	color:#369;
}
.content .comment_list dd {
	margin:0;
	padding:0;
	color:#333;
	line-height:180%;
}
.content .comment_list dd.date {
	color:#666;
}
.content .comment_list dl.comment_content {
	border-bottom:1px solid #ccc;
}
.content .comment_add {
	text-align:right;
}
.content .comment_add textarea {
	width:98%;
	border:1px solid #ccc;
	border-radius:4px;
	background:#fff;
	padding:5px;
	font-size:12px;
	color:#666;
	margin:0 0 5px 0;
	resize:none;
}
.content .comment_add input {
	cursor:pointer;
}
.content .comment_load dd {
	background:url(../image/###) no-repeat 75px 45%;
}
.content .up {
	float:right;
	color:#369;
	cursor:pointer;
}
.content .down {
	/*解除摘要尾部字体强制绑定*/
	font-weight:normal;
	/*float:right;*/
	color:#369;
	cursor:pointer;
}
