#member_main dl {
	width: 90%;
	margin: 10px auto;
}
#member_main dl dd {
	margin: 5px;
	line-height: 150%;
}
#member_main dl dd input {
	width: 80px;
	height: 30px;
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
}
#member_main dl dd.button {
	text-align: center;
}